<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Login</title>

</head>
<body class="bg-gray-100 font-sans antialiased">
    <nav class="bg-blue-700 p-4 text-white flex justify-between">
    <div>
        <h1 class="text-2xl font-bold">
            AI Blog Generator
        </h1>
    </div>
    <div>

        <a href="signup" class="text-white hover:underline">SignUp</a>
    </div>
    </nav>
    <!-- Main Content -->
    <div class="flex items-center justify-center h-screen">
        <div class="max-w-md mx-auto mt-10 p-20 bg-white rounded-lg shadow-md">
            <h2 class="text-2xl font-bold mb-4">Login</h2>

            <!-- Login Form -->
            <form action="/login" method="POST">
                <div class="mb-4">
                    <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter your Username..." required
                            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500">
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your Password..." required
                            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500">
                </div>
                <button type="submit"
                        class="w-full bg-blue-600 text-white font-semibold py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300">
                    Login
                </button>
            </form>
        </div>
    </div>

    <footer class="text-center p-4 text-black mt-6 ">
        Powered by Code with Presido
    </footer>

</body>
</html>